{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="field">
        <label class="label">{{ form.email.label_tag }}</label>
        <p class="control has-icons-left has-icons-right">
            {{ form.email }}
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <label class="label">{{ form.password1.label_tag }}</label>
        <p class="control has-icons-left">
            {{ form.password1 }}
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <label class="label">{{ form.password2.label_tag }}</label>
        <p class="control has-icons-left">
            {{ form.password2 }}
        </p>
    </div>
    <div class="control">
        <input class="button is-link" type="submit" value="Register">
        <a style="position: absolute; right: 0; bottom: 0;" class="tag is-link is-light"
            href="{% url 'accounts:login' %}">Already have an account? Log in</a>
    </div>
</form>
{% endblock %}