{% extends 'layout.html' %}

{% block title %}
Search
{% endblock %}

{% block content %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control" style="width: 100%;">
                <input class="input" type="text" name="title" placeholder="Find a movie">
            </div>
            <div class="control">
                <input type="submit" class="button is-info" value="Search">
            </div>
        </div>
    </form>
</div>
{% if movie %}
<div class="columns">
    <div class="column">
        {% include 'movies/movie-to-add.html' with movie=movie %}
    </div>
</div>
{% endif %}
{% endblock %}